.movieCalendar {
  position: absolute;
  padding-top: 4%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;

  .renne {
    height: 0vh;
    margin-left: 6%;
  }

  .reindeer-text {
    border: 3px solid #989b0f;
    background-color: #497a37;
    border-radius: 10px;
    text-align: center;
    margin-left: 10%;
    width: 13%;
    height: 6%;
    position: absolute;
    top:25%;
    left:-8%;
  
    p {
      color: white;
      font-size: 30px;
    }
  }
  

  img {
    position: relative;

    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  .renne img:hover {
    transform: scale(1.1);
  }
  @keyframes scaleIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .main-contenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    color: var(--color-text);
    font-size: 2.5rem;
    font-weight: 500;
  }

  .calendar-container {
    background-image: url("/images/background_all_cards.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: #f3ca3a;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    padding-left: 22px;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 77vh;
    width: 60%;
  }

  .penguin {
    width: 25px;
    height: 45px;
    bottom: 78%;
    position: fixed;
    animation: walk 15s linear infinite;
  }

  @keyframes walk {
    0%,
    100% {
      left: 22%;
      transform: translatex(-50%) scalex(-1);
    }
    49% {
      left: 78%;
      transform: translatex(-50%) scalex(-1);
    }
    50% {
      left: 78%;
      transform: translatex(-50%) scalex(1);
    }
    99% {
      left: 22%;
      transform: translatex(-50%) scalex(1);
    }
  }


  // guirlande 

  $globe-width:   12px;
$globe-height:  28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

body {
  background: #000;
}
.lightrope {
  top:0; 
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  li {
    position: relative;
    animation-fill-mode: both; 
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: #497A37;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(73, 122, 55, 0.5);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: #FCA838;
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(252, 168, 56, 0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 { 
    0%, 100% { background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);} 
    50% { background: rgba(0,247,165,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,0.2);}
}
@keyframes flash-2 { 
    0%, 100% { background:  #FCA838;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread  #FCA838;} 
    50% { background: rgba(252, 168, 56, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(252, 168, 56,0.2);}
}
@keyframes flash-3 { 
    0%, 100% { background: #fff;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread #fff;} 
    50% { background: rgba(247,0,148,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,0.2);}
}

}
