.movieCalendar {
  position: absolute;
  padding-top: 4%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;

  .renne {
    height: 0vh;
  }

  img {
    position: relative;

    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  .renne img:hover {
    transform: scale(1.1);
  }
  @keyframes scaleIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .main-contenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    color: var(--color-text);
    font-size: 2.5rem;
  }

  .calendar-container {
    background-image: url("/images/background_all_cards.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: #f3ca3a;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    padding-left: 22px;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 79vh;
    width: 60%;
  }

  .penguin {
    width: 25px;
    height: 45px;
    bottom: 80%;
    position: fixed;
    animation: walk 40s linear infinite;
  }

  @keyframes walk {
    0%,
    100% {
      left: 0;
      transform: translatex(-50%) scalex(-1);
    }
    49% {
      left: 100%;
      transform: translatex(-50%) scalex(-1);
    }
    50% {
      left: 100%;
      transform: translatex(-50%) scalex(1);
    }
    99% {
      left: 0;
      transform: translatex(-50%) scalex(1);
    }
  }
}
