.renne {
	display: flex;
	justify-content: flex-start;
	width: 100vw;
	padding-top: 20px;
	img {
		height: 11vh;
		width: 5vw;
	}
}

.background-wishlist {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.Letter-wrapper {
		animation: pop-in 0.5s;
		background-image: url("/images/Letters.png");
		width: 46%;
		height: 65%;

		.header-wrapper {
			display: flex;
			justify-content: center;
			margin-left: 25%;
			width: 50%;

			h1 {
				color: white;
				margin-top: -20%;
				margin-bottom: 45%;
				font-size: 45px;
				transition: 0.3s ease;
			}
			h1:hover {
				transform: scale(1.1);
			}
			h1:hover::after {
				transform: scaleX(1);
			}
			h1::after {
				content: "";
				transform-origin: 0 0;
				transform: scaleX(0);
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				background: rgb(0, 0, 0);
				z-index: -1;
				opacity: 0.8;
				transition: transform 0.3s;
			}
		}

		.form-wrapper {
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 50px;
			width: 50%;
			padding-left: 6%;
			padding-top: 20%;

			.input {
				position: absolute;
				border-style: none;
				border: 3px solid #335327;
				background-color: #497a37;
				color: var(--color-text);
				height: 45px;
				width: 300px;
				border-radius: 10px;
				padding-left: 15px;
				font-size: 20px;
				&::placeholder {
					color: var(--color-text);
				}
			}

			.submit {
				padding: 2%;
				position: relative;
				background-color: #497a37;
				margin-left: 82%;
				font-size: calc(var(--font-size-standard) * 1.5);
				color: var(--color-text);
				font-size: 20px;
				border-style: none;
				border-radius: 2px;
				width: 30px;
				height: 35px;
				transition: transform 0.5s ease, box-shadow 0.5s ease;
				cursor: pointer;
			}
			.submit:hover {
				background: linear-gradient(to bottom, #487937 5%, #6ab151 100%);
				transform: scale(1.1);
			}
		}
		@keyframes scaleIn {
			from {
				transform: scale(0.8);
				opacity: 0;
			}
			to {
				transform: scale(1);
				opacity: 1;
			}
		}
		@keyframes pop-in {
			0% {
				opacity: 0;
				transform: scale(0.1);
			}
			100% {
				opacity: 1;
				transform: scale(1);
			}
		}
		.submitted-items {
			animation: scaleIn 0.8s ease-out;
			position: absolute;
			margin-top: 3%;
			margin-left: 3%;
			width: 20%;
			height: 30%;

			li {
				font-size: 30px;

				list-style-type: none;
			}
		}

		.send {
			position: relative;
			font-size: 25px;
			border: 3px solid #a50b0b;
			background-color: #c50000;
			margin-left: 70%;
			margin-top: 20%;
			height: 45px;
			width: 160px;

			border-radius: 10px;

			transition: transform 0.5s ease, box-shadow 0.5s ease;
		}
		.send:hover {
			transform: scale(1.1);
			background: linear-gradient(to bottom, #7c0808 5%, #be1a1a 100%);
		}
		a {
			text-decoration: none;
			color: var(--color-text);
		}
	}
}
